*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  background-color: #ff00ff;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-box{
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #dda0dd;
}

.header-box:first-child{
  margin-right: auto;
}

main{
  width: 100%;
  display: flex;
}

.main-box-left{
  width: 300px;
  background-color: #ddffbc;
}